<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://srvhost:8080/TechTrialBackEnd/AttendanceService.svc"
        binding="wsHttpBinding" bindingConfiguration="Binding1" contract="AttendanceService.IAttendanceService"
        name="BasicHttpBinding_IAttendanceService" />
    </client>
  </system.serviceModel>
</configuration>