<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
    <servlet>
        <servlet-name>getLogServlet</servlet-name>
        <servlet-class>net.sourceforge.htmlunit.proxy.webapp.server.LogServiceImpl</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>getLogServlet</servlet-name>
        <url-pattern>/proxywebapp/getLog</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>addLogServlet</servlet-name>
        <servlet-class>net.sourceforge.htmlunit.proxy.webapp.server.AddLogServlet</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>addLogServlet</servlet-name>
        <url-pattern>/proxywebapp/addLog</url-pattern>
    </servlet-mapping>
  
    <welcome-file-list>
        <welcome-file>ProxyWebApp.html</welcome-file>
    </welcome-file-list>

</web-app>
