@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Trial Front End Application</h1>
    <p class="lead">The system allows project managers to do simple project planning and track employee attendance against the allocated tasks to track production and tasks completion. The project manager creates project schedule and allocate tasks to the employees. The employees scan their access cards (in and out) and their time is recorded against the allocated tasks. The project manager could edit the schedule and tasks or see task completion report assuming full employee productivity. </p>
    <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg pull-right">Enter &raquo;</a></p>
</div>
