@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please select the report you want to generate</h2>

<table class="table">
    <tr>
        <th>
            Report Type
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.ActionLink("Project and task completion report", "ProjectCompletionReport", "Reports")
        </td>
    </tr>


    <tr>
        <td>
            @Html.ActionLink("Employee production report", "EmployeeProductivityReport", "Reports")
        </td>
    </tr>

</table>
